<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.symphony.of.empires.siodesk" android:versionCode="1" android:versionName="1.0">
    <application android:label="Symphony Of Empires" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:debuggable="true" android:hasCode="false">
        <activity android:name="android.app.NativeActivity" android:screenOrientation="landscape" android:configChanges="orientation|keyboardHidden">
            <meta-data android:name="android.app.lib_name" android:value="lib/armeabi-v7a/libSymphonyOfEmpires.so"/>
            <meta-data android:name="android.app.lib_name" android:value="lib/armeabi-v7a/libassimp.so"/>
            <meta-data android:name="android.app.lib_name" android:value="lib/armeabi-v7a/libglm_shared.so"/>
            <meta-data android:name="android.app.lib_name" android:value="lib/armeabi-v7a/libSDL2.so"/>
            <meta-data android:name="android.app.lib_name" android:value="lib/armeabi-v7a/libSDL2_ttf.so"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
