[submodule "vendor/sdl2"]
	path = vendor/sdl2
	url = https://github.com/libsdl-org/SDL
[submodule "vendor/onetbb"]
	path = vendor/onetbb
	url = https://github.com/oneapi-src/oneTBB
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "vendor/assimp"]
	path = vendor/assimp
	url = https://github.com/assimp/assimp
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua
[submodule "vendor/sdl2_mixer"]
	path = vendor/sdl2_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "vendor/sdl2_ttf"]
	path = vendor/sdl2_ttf
	url = https://github.com/libsdl-org/SDL_ttf
