# windows libraries
windows_libs/

# savefiles from the game
*.v0
*.v1
*.v2
*.v3

# performance stuff
*.out
perf.data

# linux ld stuff
*.out
*.o

# windows obj files
*.obj
*.exe

# output folders
bin/
obj/

# compiled translation files
*.mo

# vscode stuff
.vscode/
compile_commands.json
.cache/

# visual studio stuff
.vs/
x64/
Debug/
packages.config
packages/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# cmake stuff
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
[Bb]uild/

# makefile stuff
.depend
