<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="freetype.redist" version="2.6.2.1" targetFramework="native" />
  <package id="GLEW-static" version="2.1.0.3" targetFramework="native" />
  <package id="glm" version="0.9.9.800" targetFramework="native" />
  <package id="libpng-v142" version="1.6.37.2" targetFramework="native" />
  <package id="lua" version="5.4.3" targetFramework="native" />
  <package id="sdl2" version="2.0.5" targetFramework="native" />
  <package id="sdl2.redist" version="2.0.5" targetFramework="native" />
  <package id="sdl2.v140.redist" version="2.0.4" targetFramework="native" />
  <package id="sdl2_ttf.v140" version="2.0.14" targetFramework="native" />
  <package id="sdl2_ttf.v140.redist" version="2.0.14" targetFramework="native" />
</packages>